language: node_js
node_js:
  - '10'

cache:
  yarn: true
  directories:
    - 'node_modules'

branches:
  only:
    - master

install:
  - yarn
  - yarn run generate:gh-pages

script:
  - echo "Skipping tests"

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_ACCESS_TOKEN
  target-branch: gh-pages
  local-dir: dist
  on:
    branch: master
